<main class="main-banner {{page}}">
  <h2>
    {{#with (lookup siteData.pages page)}}{{title}}{{/with}}
  </h2>
  
  {{! content for specific pages, if it exists }}
  {{#with (lookup content page)}}
  {{#each this}}
  {{setState .. (strip this ../../page)}} {{! store unique name tokens in temp state}}
  <section class="section {{#unless (equals (getState ..) 'section')}}{{getState ..}} {{/unless}}{{this}}">
    {{> (lookup .. @key) ../..}}
  </section>
  {{/each}}
  {{/with}}

  {{#unless (lookup (lookup siteData.pages page) 'skip-all')}}
  {{! content for all pages that use this template }}
  {{#with (lookup content 'all')}}
  {{#each this}}
  <section class="section {{this}}">
    {{> (lookup .. @key) ../..}}
  </section>
  {{/each}}

  {{/with}}
  {{/unless}}

</main>