<footer class="ln-footer {{footerTop}} {{footerColor}}" role="contentinfo">
  <nav role="navigation" aria-label="main navigation for footer" class="navigation footer show-subscribe">
    {{> nav-links }}
  </nav>
  <div class="business ps">
    <div class="f-logo">
      <a class="logo" href="/">
        <span class="text">
          <span class="nl">{{subChars (subWords siteData.business.name 0 2) 0 8}}</span>
          <span class="nr">{{subChars (subWords siteData.business.name 0 2) 8 13}}</span>
        </span>
        <svg class="symbol">
          <title>{{ siteData.business.shortName }} Logo</title>
          <use xlink:href="#logo"></use>
        </svg>
      </a>
      <p class="logo-tag">{{ siteData.elevator }}</p>
      <div class="links">
        <a href="{{siteData.social.github.url}}" target="_blank" rel="noopener" aria-label="Github">
          <svg class="icon-gh" width="32" height="32" viewBox="0 0 16 16">
            <title>{{ siteData.business.shortName }} Github</title>
            <use xlink:href="#icon-github"></use>
          </svg>
        </a>
        <a href="{{siteData.social.stackoverflow.profile}}" target="_blank" rel="noopener" aria-label="Stackoverflow">
          <svg class="icon-so" width="32" height="32" viewBox="0 0 32 32">
          <title>{{ siteData.business.shortName }} Stack Overflow</title>
            <use xlink:href="#stackoverflow"></use>
          </svg>
        </a>
        <a href="{{siteData.social.linkedin}}" target="_blank" rel="noopener" aria-label="LinkedIn">
          <svg class="icon-in" width="32" height="32" viewBox="0 0 2384 2384">
            <title>{{ siteData.business.shortName }} Linked In</title>
            <use x="14%" y="10%" xlink:href="#linkedin-in"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="contact" itemscope itemtype="http://schema.org/Organization">
      <div>
        <a itemprop="url" href="{{ siteData.business.url }}"><span itemprop="legalName">{{ siteData.business.name }}</span></a>
      </div>
      <div>
        <a href="mailto:{{ siteData.business.email }}"><span itemprop="email">{{ siteData.business.email }}</span></a>
      </div>
      <div>
        <a href="tel:1-{{ siteData.business.phone }}"><span itemprop="telephone">{{ siteData.business.phone }}</span></a>
      </div>
    </div>
  </div>
  <nav class="navigation footer legal">
    <ul>
      <li><a class="{{#if (equals active 'privacy')}}active{{/if}}" href="/privacy"><span>Privacy Policy</span></a></li>
      <li><a class="{{#if (equals active 'terms')}}active{{/if}}" href="/terms"><span>Terms and Conditions</span></a></li>
    </ul>
  </nav>
  <div class="copyright">
    <span>
      <span>Copyright © <span class="current-year">2025</span></span>
      <span>{{ siteData.business.name }}</span>
    </span>
    <span class="version-buildtime"></span>
  </div>
</footer>
</body>
</html>