<main class="main-banner {{page}}" role="main">
  <h2>
    {{#with (lookup siteData.pages page)}}{{title}}{{/with}}
  </h2>
  
  {{! content for specific pages, if it exists }}
  {{#with (lookup content page)}}
  {{#each this}}
  <section class="{{strip this ../../page}} {{this}}">
    {{> (lookup .. @key) ../..}}
  </section>
  {{/each}}
  {{/with}}

  {{#unless (lookup (lookup siteData.pages page) 'skip-all')}}
  {{! content for all pages that use this template }}
  {{#with (lookup content 'all')}}
  {{#each this}}
  <section class="{{strip this}} {{this}}">
    {{> (lookup .. @key) ../..}}
  </section>
  {{/each}}

  {{/with}}
  {{/unless}}

</main>