<ul>
  {{#each siteData.pages}}
    {{#if (equals this.type 'nav')}}
      <li class="{{#if (equals @key 'contact')}}contact{{/if}}">
        {{#if ../notab}}
          <a tabindex="-1" aria-label="{{this.label}}" class="{{#if (equals ../active @key)}}active{{/if}}" href="{{this.route}}">
            {{this.label}}
          </a>
        {{else}}
          <a aria-label="{{this.label}}" class="{{#if (equals ../active @key)}}active{{/if}}" href="{{this.route}}">
            {{this.label}}
          </a>
        {{/if}}
      </li>
    {{/if}}
  {{/each}}
</ul>
